PORT=4000
APP_ORIGIN=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_NAME=postman_clone
DB_USER=root
DB_PASSWORD=root
SESSION_COOKIE_NAME=postman_clone_session
DB_SYNCHRONIZE=false
DESKTOP_APP_DOWNLOAD_URL=
